<div class="side_left">
    <h1 class="logo">Quotes Admin</h1>
    <p class="title_">Pages</p>
    <ul class="dash_list">
        <li class='<%= page=="home"? "active_":"" %>'><a href="/admin/home"><i class="fa-solid fa-house"></i> <span>Dashboard</span></a></li>
        <li class='<%= page=="quoteTemplates"? "active_":"" %>'><a href="/admin/manage-quote-templates"><i class="fa-solid fa-quote-left"></i> <span>Quote Template</span></a></li>
        <li class='<%= page=="users"? "active_":"" %>'><a href="/admin/manage-users"><i class="fa-solid fa-user"></i> <span>Users</span></a></li>
        <li class='<%= page=="blogs"? "active_":"" %>'><a href="/admin/manage-blogs"><i class="fa-solid fa-rss"></i> <span>Blog</span></a></li>
        <li class='<%= page=="emailSubscribers"? "active_":"" %>'><a href="/admin/email-subscribers"><i class="fa-solid fa-envelope-open"></i> <span>Subscribers</span></a></li>
    </ul>
</div>