<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Maker Admin Portal</title>
    <%- include('../../partials/base.ejs') %>
    <link rel="stylesheet" href="../../../public/styles/admin/adminSidebar.css">
    <link rel="stylesheet" href="../../../public/styles/admin/adminNavbar.css">
    <link rel="stylesheet" href="../../../public/styles/admin/quoteTemplate.css">
    <link rel="stylesheet" href="../../../public/styles/admin/adminCommon.css">

</head>
<body>
    <%- include('./adminLayoutSideBar.ejs') %>

    <link rel="stylesheet" href="../../../public/styles/admin/adminNavbar.css">
    <div class="admin_wrapper admin_half">
        <%- include('./adminNavbar.ejs') %>
        <div class="inner_admin">

            <div class="top_">
                <h2>Quote Templates <%if (locals.name) { %>
                    suman grg
                    <% } %>
                </h2>
                <button onclick="takeAway('/admin/manage-quote-templates/add')">Add Template <i class="fa-solid fa-plus"></i></button>
            </div>


            <div class="grid_">
                <% templates.forEach((template)=> { %>
                    <div class="grid_item">
                        <img data-id="<%= template._id %>" class="others_" src="/public/uploads/<%= template.templateDetails.featuredImage %>" alt="template view">
                        <h2>View Details</h2>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <script>
        const templates =  document.querySelectorAll(".grid_item img")
        templates.forEach((x)=>{
            x.addEventListener("click",()=>{
                window.location.href = "/admin/manage-quote-templates/"+ x.getAttribute("data-id")
            })
        })
    </script>
</body>
</html>